{% extends "milestones/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% load group_tags %}

{% block head_title %}Milestone Task{% endblock %}

{% block body %}
    <h1>Add Milestone</h1>
<script type="text/javascript" src="/admin/jsi18n/"></script> 
<script type="text/javascript" src="{{STATIC_URL}}admin/js/core.js"></script>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/widgets.css" />
    {% if is_member %}

         <div class="main-form">
            <form method="POST" action="" id="milestone_form" class="uniForm">
                {% csrf_token %}
                <div class="form_block">
                    {{ milestone_form.media }}
                    {{ milestone_form|as_uni_form }}
                    <input type="submit" value="{% trans 'Add milestone' %}"/>
                    <input type="submit" name="add-another-milestone"
                    value="{% trans 'Add milestone and add another' %}"/>
                </div>
            </form>
        </div>
    {% else %}
        <p>{% trans 'You are not a member and so cannot add a milestone.' %}</p>
    {% endif %}

{% endblock %}
