{% load dashboard_tags %}
{% load group_tags %}

{% include "dashboard/_taskbar.html" %}
<div id="tasks" class="dashboard-module ui-widget ui-widget-content ui-corner-all" >
    {% get_tasks as tasks %}
    <table width="100%" cellspacing="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Project</th>
            <th>Assignee</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td width="20">{{task.id}}</td>
            <td>{{task}}</td>
            <td width="80"><a
                    href="{{task.group.get_absolute_url}}">{{task.group}}</a></td>
            <td width="80">{% if task.assignee %}
                <a href="{{ task.assignee.get_absolute_url }}">{{task.assignee}}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
