{% extends "site_base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/notification.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}css/jquery-ui-1.7.2.cupertino.css" />
{% endblock %}

{% block extra_js %}

<script type="text/javascript" href="{{
    STATIC_URL}}js/jquery-ui-1.7.2.custom.min.css"></script>
{% endblock %}
{% load i18n %}
{% load group_tags %}

{% block body_class %}dashboard{% endblock %}

{% comment %}
{% block subnav %}
    {% if user.is_authenticated %}
    <ul>
    </ul>
    {% else %}
        &nbsp;
    {% endif %}
    {% endblock %}
    {% endcomment %}
